<table class="table table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th
        *ngFor="let column of table.columns; index as columnIndex"
        scope="col"
        contenteditable="true"
        (blur)="updateColumn($event, columnIndex)"
      >
        {{ column }}
      </th>
      <th class="fit">
        <button
          type="button"
          class="btn btn-sm btn-success"
          title="Удалить строку"
          (click)="addColumn()"
        >
          + Добавить столбец
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let row of table.data;
        index as rowIndex;
        first as isFirstRow;
        last as isLastRow
      "
    >
      <td
        *ngFor="let cell of row; index as columnIndex; trackBy: trackCell"
        contenteditable="true"
        (blur)="updateCell($event, rowIndex, columnIndex)"
      >
        {{ cell }}
      </td>
      <td class="fit">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          title="Переместить вверх"
          [disabled]="isFirstRow"
          (click)="swapRows(rowIndex, rowIndex - 1)"
        >
          🠕
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary mx-1"
          title="Переместить вниз"
          [disabled]="isLastRow"
          (click)="swapRows(rowIndex, rowIndex + 1)"
        >
          🠗
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          title="Удалить строку"
          (click)="deleteRow(rowIndex)"
        >
          X
        </button>
      </td>
    </tr>
    <tr>
      <td [attr.colspan]="table.columns.length + 1">
        <button
          type="button"
          class="btn btn-sm btn-success"
          title="Удалить строку"
          (click)="addRow()"
        >
          + Добавить строку
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button
  type="button"
  class="btn btn-primary m-3"
  (click)="onExportClick('json')"
>
  Выгрузить в JSON
</button>
<button
  type="button"
  class="btn btn-primary m-3"
  (click)="onExportClick('csv')"
>
  Выгрузить в CSV
</button>
